/* Reset CSS */
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  background: none;
  border: none;
}

/* Global CSS */
body {
  font: 14px 'Comic Sans MS', cursive, sans-serif;
}
h1 {
  color: #202020;
  font-size: 40px;
  margin: 20px 0;
  text-align: center;
}
