.character {
  padding: 10px;
  vertical-align: top;
}
.character_image img {
  width: 100%;
}
.character_name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 600px) {
  .character {
    display: inline-block;
  }
  .character_image {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
  }
  .character_image img {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
